.vscode/launch.json
.alpackages/Microsoft_Application_26.0.30643.32695.app
.alpackages/Microsoft_Base Application_26.0.30643.33009.app
.alpackages/Microsoft_Business Foundation_26.0.30643.32695.app
.alpackages/Microsoft_System Application_26.0.30643.32695.app
.alpackages/Microsoft_System_26.0.32004.0.app
app.json
.vscode/rad.json
